@charset "UTF-8";

@media screen and (min-width: 481px) and (max-width: 768px){
    header {
        width: 100%;
        height: 100px;
    }

    #logo {
        width: 23%;
        height: 100px;
    }

    #links  {
        margin-left: 300px;
        font-size: 15px;
    }

    #imagens {
        margin-left: 18%;
    }

    .linguagens {
        height: 120px;
    }    

    #htmlcss img {
        width: 40%;
    }
    
    #js img {
        width: 30%;
    }

    #php img {
        width: 40%;
    }

    #python img {
        width: 30%;
    }

    #mysql img {
        width: 30%;
    }
}