@charset "UTF-8";

@media screen and (min-width:300px) {

#img-grande{
    display: none;
}  

body {
    width: 93%;
    height: 100%;
}
header {
    background-color: #018673;
    padding: 5px;
    border: 1.3px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}
#links {
    font-size: 15px;
    margin-top: -20px;
    margin-left: 210px;
}
#links a {
    color: rgba(255, 255, 255, 0.568);
    text-decoration: underline;
    padding: 10px;
}
#logo {
    width: 30%;
}

main h1 {
    font-size: 35px;
    margin-bottom: 0px;
}

main h2 {
    margin-top: 15px;
    font-size: 15px;
}

#htmlcss img {
    width: 50%;
}

#htmlcss a {
    margin-left: 10px;
    font-size: 20px;
}

#js img {
    width: 23%;
}

#js a {
    margin-left: 100px;
    font-size: 20px;
}

.linguagens {
    border: 1px solid black;
    padding: 25px;
    margin-bottom: 10px;
    background-color: #67A49C;
    border-radius: 4px ;
}

#php img {
    width: 50%;
}

#php a {
    margin-left: 20px;
    font-size: 20px;
}

#python img {
    width: 40%;
}

#python a {
    margin-left: 50px;
    font-size: 20px;
}

#mysql img {
    width: 40%;
}

#mysql a {
    margin-left: 50px;
    font-size: 20px;
}
.linguagens a {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #1A2E35;
    color: white;
    text-decoration: none;
    padding: 5px;
}




}