@charset "UTF-8";

@media screen and (min-width: 300px){

    
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
    --cor1: #385A64;
    --cor2: #67A49C;
    --cor3: #018673;
    --cor4: #98A9B0;
    --cor5: #1A2E35;
}    

#img-grande {
    display: none;
}


header {
border: 2px solid black;
background-color: var(--cor2);

width: 95%;


}

header img {
    width: 40%;
    border: 1px solid red;
}


}